.App {
  max-width: 800px;

  margin: 30px auto;
  background-image: linear-gradient(rgb(55, 200, 220), rgb(0, 8, 255));
}

.App footer {
  font-size: 14px;
  margin-bottom: 10px auto;
  color: wheat;
  font-weight: 500;
}
.footer-text {
  color: rgb(6, 6, 67);
}
